h1 = t('.reset_your_password') 
p
  = t('.message') 
= form_tag password_resets_path do
  .row
    .large-9.columns
      .row
        .large-3.columns
          = label_tag :email, t('.your_email'), class: "right inline"
        .large-9.columns
          = email_field_tag :email, nil, class: "mailcheck"
          small.hint style="display: none"
    .large-3.columns
      = submit_tag t('.reset_password'), class: "button tiny"
