<!DOCTYPE html>
<html>
<head>
</head>
<body>
<h1>Cool news: a book with one of your favorited tags, <%= @tag %> has just been added to Freeshelf.</h1>
<p>
  You can click on this link to go straight to it: <%= @url %>.
</p>
<p>You can always check out the whole library at http://www.freeshelf.herokuapp.com</p>
<p>
  Thanks again for using Freeshelf! Fill your mind freely.
</p>
<br>
<br>
<br>
<p>If you no longer wish to receive these email alerts, please go to http://www.freeshelf.herokuapp.com
  and edit your user settings.</p>
</body>
</html>