<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Welcome to Freeshelf, <%= @user.name %></h1>
  <p>
    To activate your account, go to <%= link_to @url, @url %>.
  </p>
  <p>
    This link will expire in 3 days. If you did not create this account, take no action!
  </p>
</body>
</html>
