<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Reset your Freeshelf password, <%= @user.name %></h1>
  <p>
    You or someone else has requested a password reset for your account on Freeshelf.
  </p>
  <p>
    To reset your password, go to <%= link_to @url, @url %>.
  </p>
</body>
</html>