= form_tag edit_tags_book_path(@book), method: 'patch', id: 'edit-tags-form'
  = text_field_tag :user_tags, @book.tags_from(current_user)
  small.hint = t('.tags_hint')
  = submit_tag t('.update_tags'), class: 'button'
