/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require_self
 *= require books
 *= require videos
 *= require favorites
 *= require font-awesome
 */

@import url(http://fonts.googleapis.com/css?family=Bubblegum+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600);

body {
  margin-top: 30px;
}

h1.logo {
  font-family: 'Bubblegum Sans', cursive;
}

.root .logo {
  font-size: 500%;
  text-align: center;
}

.logo a {
  color: #151515;
}

div.label {
    margin: 10px;
}

