// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.book {
  .book-cover {
    float: right;
    margin: 0 0 10px 10px;
  }

  .author {
    font-style: italic;
  }
}